 @font-face {
				font-family: "visitor";
				src: url('https://dl.dropboxusercontent.com/s/b1dz2v8pe6dmcga/visitor1.ttf');
			}
			
 @font-face {
				font-family: "arial11";
				src: url('https://dl.dropboxusercontent.com/s/eijyurcmguopkr2/pixearg_.ttf?dl=0');
			}
 
 html, body {
   font-family: "courier-std", courier, monospace;
   background-image: url('img/stemcluster.png');
   background-repeat: repeat;
   background-attachment: fixed;

}

hover {
    color: #757500;
    text-decoration: underline;
}

hover:hover {
   font-style: italic;

}

a {
   color: #0000ff;
   font-size: 12px;
   text-decoration: underline;
}

a:hover {
   font-style: italic;

}


::selection { 
   background-color: #d8d8d8;

}


p {
  font-family: "courier-std", courier, monospace;
  color: #A1A100;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0px 0;

}

span {
  font-family: "courier-std", courier, monospace;
    font-weight: bold;
}

b {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

h1.txt,
h2.txt,
h3.txt,
h4.txt,
h5.txt,
h6.txt {
  font-family: "visitor", courier;
  color: #0000FF;
  font-weight: bold;
  text-shadow: 1px 1px #FF0000;
  font-size: 16px;
  margin: auto;
  line-height: 1.5em;

}

hr {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
  
  }
  
.blinking{
	animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
	0%{		color: #ffffff;	}
	50%{	color: #000000;	}
	100%{		color: #ffffff;	}

}



/* -------------------- post -------------------- */
#postcontent {
   width: 500px;
   height: 0px;
   text-align: left;  
   animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
 
.post, .naviga {
   padding: 0;
   margin: 0;
}

.post img {
   max-width: 100%;
   height: auto;

}


/* -------------------- header -------------------- */

#container {
   display: inline-block;
   top: 50px;
   left: 10px;
   position: fixed;
}

#third {
   position: fixed;
   top: 20px;
   left: 190px;
}

#fart {
   font-family: "courier-std", courier, monospace;
   color: #A1A100;
   font-size: 12px;
   font-weight: bold;
   overflow-y: auto;
   text-align: left;
   overflow-x: hidden;
   max-height: 110px;
   scrollbar-width: thin;
}

.header img {
   position: relative; 
   max-height: 100%;
   max-width: 100%;
}

/* -------------------- etc -------------------- */
.window-body {
   overflow: auto;
   background: #efefef;
   padding: 10px;
   margin: 10px;
}

.window-top {
  
  position: relative;
  height: 20px;
  width: 100%;
  right: 0;
  margin: auto;
  background-color: #E90013;
  background-image: url("img/window-top.png"), url("img/red.png"), url("img/red-2.png");
  background-repeat: no-repeat, repeat-x, repeat-x;
  background-position: right, top, bottom;
  border-radius: 15px;

}

.title-bar {
  background: url('img/window-top.png') no-repeat 100%, #e90013;
  min-height: 15px;
  padding: 3px 2px 3px 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px;
  border-color: #c6c6c6;
  user-select: none;

}

.window-bar-text {
   font-family: "arial11", Arial, sans-serif;
   background: -webkit-linear-gradient(#ff0000, #0000ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   user-select: none;
   font-size: 8px;

}

.title-bar-text {
   font-family: "arial11", Arial, sans-serif;
   color: white;
    font-size: 8px;
}

.background {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #c6c6c6;
  padding-bottom: 5px;
}

/* etc. */

#floatie {
   bottom: 0px;
   right: 0px;
   position: fixed;
   filter: drop-shadow(3px 3px 5px #FF0000) drop-shadow(2px 2px 2px #0000FF);
}
  
#myVideo {
  width: 50px;
  height: 100px;
    object-fit: cover;
    z-index: -100;
}

#more {
   display: none;
   } 
  
  			/* DESKTOP ICONS */
			.desktopIcon {
				position: fixed;
				bottom: 70px;
				left: 20px;
				height: 68px;
				background: url("img/ATH.png") no-repeat center;
				cursor: pointer;
			}
			
			.desktopIcon p {
			  font-family: "visitor", courier;
				user-select: none;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.5);
				color: white;
				padding: 3px;
				margin-top: 75px;
				font-size: .9em;
			}
				
.trollian {
    background-color: #e2000c;
				background: url("img/TROLLIAN.png") left no-repeat, url("img/bar.png") right no-repeat, url("img/height-red.png") repeat-x;
				position: fixed;
				top:0px;
				width:100%;
				left: 0px; right: 0px;
				min-height: 91px;
				-moz-box-shadow: 0 0 30px 5px #000;
        -webkit-box-shadow: 0 0 30px 5px #000;
}

.someHeader {
    height: 70px;
}

.tab {
  color: #515151;
  word-spacing: 10px;
  overflow: auto;
  background-color: transparent;
    
}

.tab button {
  font-family: "visitor", courier;
  text-indent: 0px;
    letter-spacing: 1px;
  background-color: #b5b5b5;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.tab button:hover {
  background-color: #8c8c8c;
}

.tab button.active {
  background-color: #ffffff
}

/* --- you literally cannot make this shit up. margin left -3 px from #postcontent fucks up the #game one. why. --- */ 

/* --- was an html divider issue. fixed it 5 minutes after typing this. looool. --- */ 

#game, #ck, #blog2023, #game2023, #blog2024, #blog2025 {
   display: none;
   width: 500px;
   height: 0px;
   text-align: left;
   animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

img {
    max-height: 50vh;
}

/** lightbox markup **/

.lightbox {
  display: none;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  padding: 1em;

  /* translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.spoilertxt { 
  color: #0d0d0d; 
  background-color: #0d0d0d;
  
  text-align: left;
  font-family: "courier-std", courier, monospace;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0px 0;
}

.spoilertxt:hover {
  color: #a1a100;
  background-color: #efefef; 
  
  text-align: left;
  font-family: "courier-std", courier, monospace;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0px 0;
  }
  
.cancel {
  color: white;
  background-color: black;
  font-family: "visitor", courier;
}
